<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="container">
    <p id="help">?</p>
      <h1 id="title" class="glow">Cesar's Cipher</h1>
      <div id="form">
        <form id="cinput">
          <input id="bar" type="text", name="cipher">
          <input id="numbtn" type="number" name="offset" min='0' max='10' value="1">
          <input id="btn" type="submit" value="ENCRYPT">
        </form>
      </div>

      <p>YOUR CIPHER:</p>
      <p> <%= Caesar.new.caesar_cipher(input, input2.to_i) if input != nil%></p>
    </div>
    <a id="link" href="https://en.wikipedia.org/wiki/Caesar_cipher" target="_blank">link</a>

    <script src="/app.js"></script>
  </body>
</html>